<div class="flex-container show-container">
  <div class="left-block-container">
    <div class="image-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
      <%= @cocktail.name %>
    </div>
    <div class="description-container">
      <p style="color: white"><%= @cocktail.description %></p>
      <a class="btn btn-ghost" href="<%= edit_cocktail_path %>">Edit</a>
      <p><%= link_to 'Edit', edit_cocktail_path %></p>
    </div>
  </div>
  <div class="right-block-container">
    <% @cocktail.doses.each do |dose| %>
  <div class="right-ingredients-container">
    <div class="ingredients">
      <li>
        <%= dose.description %> <%= dose.ingredient.name %>
        <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
      </li>
      <% end %>
    </div>
    <%= render 'doses/new', cocktail: @cocktail, dose: @dose %>
  </div>
  </div>
</div>
<a class="btn btn-ghost" href="<%= cocktails_path %>">Back to list</a>












